<h1>Status Update mail, <%= @user.email %></h1>
  <p>
    Your application status changed,
    your username is: <%= @user.email %><br>
    Job Status: <%= @job_application.status %><br>
  </p>
<p>Thanks for joining and have a great day!</p>
