<h1 class="text-center mb-4">All Job Page</h1>


  <% @jobs.each do |job| %>
    <div class="container">
      <div class="card my-3 mx-3">
        <div class="card">
            <h1>Job Application for: <%= job.post.title %></h1>
            <h4 class="card-title">Status: <%= job.status %></h4>
        </div>
      
        <div class="card-body my-3 mx-3">
          <% if can? :read, JobApplication %>
            <%= link_to 'See applied job', post_job_application_path(job.post_id, job.id), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div> 
  <% end %>
