<h1>Companies show</h1>
<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Title:</strong><%= @company.name %></h5>
      <p class="card-text"><strong>Description:</strong> <%= @company.about %></p>
    </div>
    <div class="card-body my-3 mx-3">
      <% if can? :read, Post %>
        <%= link_to 'See Company Post', company_posts_path(@company.id), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>    
