<h1>Companies show</h1>
<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Title:</strong><%= @company.name %></h5>
      <p class="card-text"><strong>Description:</strong> <%= @company.about %></p>
    </div>
  </div>
</div>    
