<% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.salary %></td>
      <td><%= post.location %></td><br><br>
    </tr>
<% end %>
      
      